<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd"
    backupGlobals="true"
    backupStaticProperties="false"
    beStrictAboutCoverageMetadata="true"
    beStrictAboutOutputDuringTests="true"
    bootstrap="./tests/bootstrap.php"
    cacheDirectory="../tmp/cache"
    cacheResult="false"
    colors="true"
    displayDetailsOnPhpunitDeprecations="true"
    executionOrder="depends,defects"
    failOnPhpunitDeprecation="true"
    failOnRisky="true"
    failOnWarning="true"
    processIsolation="false"
    requireCoverageMetadata="true"
    shortenArraysForExportThreshold="10"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
>
    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Unit">
            <directory>Unit/</directory>
            <exclude>../vendor</exclude>
        </testsuite>
    </testsuites>
</phpunit>