<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd"
    backupGlobals="true"
    backupStaticProperties="false"
    bootstrap="./bootstrap.php"
    cacheDirectory="../tmp/cache"
    cacheResult="false"
    colors="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
>
    <logging>
        <junit outputFile="../log/phpunit_ht7-test.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Unit">
            <directory>./</directory>
            <exclude>../vendor</exclude>
        </testsuite>
    </testsuites>
</phpunit>
